<div class="header">
  <h2>Acceso <b>Empleados</b></h2>
</div>
<div class="row">
  <div class="col-md-12">        
    <div class="form-group" style="margin-top: 40px;">
      <label for="orden" class="control-label col-md-1">
        Ordenar:
      </label>
      <div class="col-md-3">
        <select ng-model="orden" id="orden" ng-init="orden='rut'" class="form-control form-white">
          <option value="rut">Rut</option>
          <option value="funcionario">Nombre</option>
          <!--<option value="departamento">Departamento</option>-->
          <option value="email">Email</option>
        </select>
      </div>
      <label for="filtro" class="col-md-1 control-label" >Filtrar:</label>
      <div class="col-md-4">
        <input id="filtro" type="text"  class="form-control form-white form-white" ng-model="filtro">
      </div>
    </div>
    <div class="col-md-12">
      <table class="table table-striped table-hover" style="margin-top: 40px;">
        <thead>
        <tr>
          <th class="col-sm-1">#</th>
          <th class="col-sm-1">RUT</th>
          <th class="col-sm-3">Nombre</th>
          <th class="col-sm-2">Usuario</th>
          <th class="col-sm-2">Email</th>
          <th class="col-sm-2">Activo</th>
          <th class="col-sm-1">Acciones</th>
        </tr>
        </thead>
        <tbody>
          <tr ng-repeat="dato in datos | orderBy:orden | filter : filtro ">
            <td>{{ $index + 1 }}</td>
            <td>{{ dato.rut }}</td>
            <td>{{ dato.nombreCompleto }}</td>
            <td>{{ dato.username }}</td>
            <td>{{ dato.email }}</td>
            <td>
              <label class="switch switch-green">
                <input class="switch-input" ng-model="dato.activo" type="checkbox" ng-change="activar(dato)">
                <span class="switch-label" data-on="SI" data-off="NO"></span>
                <span class="switch-handle"></span>
              </label>
            </td>
            <td>
              <a class="btn-acciones btn btn-default" href="javascript:void(0);" ng-click="editar(dato);" uib-tooltip-html="toolTipEdicion(dato.nombreCompleto)">
                <i class="fa fa-pencil"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>