<div class="box">
  <div class="row">
    <div class="column col-sm-8 col-sm-offset-2">
      <div class="padding">
        <h2> <i class="fa fa-money"> </i> Préstamos</h2>
        
        <div class="container text-center" ng-if="datos.length<=0 && cargado" style="margin-top: 80px;" >
          <i>No se han ingresado trabajadores</i>
        </div>

        <table class="table table-striped table-hover" ng-if="datos.length>0" style="margin-top: 80px;">
          <thead>
            <tr>    
              <th class="col-sm-3">RUT</th>
              <th class="col-sm-5">Nombre</th>
              <th class="col-sm-2">Préstamos</th>
              <th class="col-sm-2"></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="trabajador in datos">
              <td>{{ trabajador.rutFormato }}</td>
              <td>{{ trabajador.nombreCompleto }}</td>
              <td class="text-center">{{ trabajador.totalPrestamos }}</td>
              <td>
                <a href="" ng-if="accesos.crear && accesos.abierto" ng-click="openPrestamo(trabajador)"><i class="fa fa-plus-circle"></i></a>
                <a href="" ng-click="detalle(trabajador.sid)"><i class="fa fa-search"></i></a>
              </td>
            </tr>
          </tbody>
        </table>          
      </div>
    </div>
  </div>  
